@import url(reset.css);
@import url(padrao.css);
.barra.login{
    background-color: rgb(255, 0, 85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 3px 3px 1px rgb(252, 72, 147);
}
.esqueci-senha{
    font-size: 14px;
    margin-bottom: 3px;
    text-align: end;
}
.campo.Btn {
    width: 50px;
    height: 30px;
    position: relative;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.formlogin{
    display: flex;
    align-items: center;
    justify-content: start;
}
.campoInput {
    width: 200px;
    height: 30px;
    position: relative;
    margin: 3rem 0;
}
.campoInput {
    position: absolute;
    inset: 0;
    background-color: transparent;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .5rem;
    color: #afabab;
}
.campoInput label {
    position: relative;
    top: 30%;
    left: 1rem;
    transform: translateY(-30%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    padding: 0 .3rem;
    background-color: var(--cor-fundo-barra);
    transition: 200ms ease-in-out top,
                200ms ease-in-out font-size,
                200ms ease-in-out color;
}
.campoInput:focus + label,
.campoInput:valid + label {
    top: -10px;
    font-size: .8rem;
    color: white;
}
.campo.Btn button {
    border: none;
    padding: 5px;
    background-color: rgb(139, 14, 255);
    box-shadow: 4px 2px 2px rgb(194, 137, 248);
    border-radius: 4px;
}
.campoBtn button:hover {
    padding: 7px;
    background-color: rgb(133, 7, 250);
    color: white;
    box-shadow: 2px 2px 2px rgb(194, 137, 248);
}
